* {
    vertical-align: top;
}
body {
    background-color: white;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    position: fixed;
    z-index: 2;
    font-family: Forte;
    font-size: 12vh;
    text-align: center;
    width: 100vw;
    height: 16vh;
    color: white;
    background-color: #808080;
    top:0vh;
}

video {
    margin-top: 3vw;
}

p {
    margin-top: 7vh;
    margin-right: 3vw;
    display: inline-block;
    font-size: 2.5vh;
    font-family: Fb Bokertov;
    color: black;
}
.ma_img {
    display: inline-block;
    width: 18%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.ma_ki {
    margin-top: 2%;
    margin-right: 1%;
    display: inline-block;
    font-size: 2.5vh;
    font-family: Fb Bokertov;
    color: black;
    width: 76%;
}
.ma_new {
    opacity:0.6;
        display: block;
    width: 92vw;
    height: auto;
    border-style: solid;
    border-width: thin;
    border-color: black;
    background-color: white;
    top: 60vh;
    margin: 1vh auto;
}
footer {
    background-color: #808080;
    font-family: Forte;
    text-align: center;
    height: 7vh;
    color: white;
    z-index: 2;
    width: 100vw;
    bottom: 0vh;
    text-align: center;
    font-size:1.8vh;
}
.sectionfirst {
    width: 100vw;
    height: auto;
    padding: 0.5vh;
    top: 16vh;
    position: fixed;
    z-index: 2;
    color: white;
    text-align: center;
}
.divstart {
    display: inline-block;
    width: 14vw;
    background-color: #a8a5a5;
    height: 4vh;
    font-family: Fb Ananim;
    font-size: 3vh;
    text-decoration: none;
    text-align: center;
    float: right;
    margin: auto 0.1vw;
    color: white !important;
}

.krovot_kituv {
    margin-top: 7vh;
    margin-right: 7vw;
    display: inline-block;
    font-size: 2.5vh;
    font-family: Fb Bokertov;
    color: black;
    width: 76%;
}
.krovot_img {
    width: 10vw;
    margin-right: 3vw;
    margin-top: 8vh;
    display: inline-block;
}

.hazmana {
    box-sizing: border-box;
    margin-right:10vw;
    display: inline-block;
    width: 24vw;
    margin-top: 1vw;
    padding: 2vw 2vw 2vh 2vh;
    height: 58vh;
    padding-top:0vh;
    background-color: #3b3c41;
    border-style: solid;
    border-width: thin;
    border-color: black;
    text-align: center;
    margin-top: 26vh; 
    opacity:0.7;
}


.semel {
    width: 7vw;
    border-style: solid;
    border-width: thin;
    border-color: white;
    margin-top: 4vh
}

.content {
    position: absolute;
    height: 74vh;
    overflow-y: auto;
    top: 24vh;
    width: 100vw;
    overflow-x: hidden;
}
form {
    margin-top: 5vh;
    margin-left: 0vw;
    color:black;
    font-size:2.5vh;
}
.game_pic {
    display: block;
    width: 56vw;
    margin-right: 22vw;
    margin-top: 9vh;
    margin-bottom: 2vh;
}
 .game_pic:hover {
        margin-right: 0vw;
        width: 100vw;
        transition: all 2s;
 }

#mizti {
width:50vw;
display:block;
color:black;
font-family:Fb Bokertov;
font-size:5vh;
margin-right:28vw;
position: fixed; 
z-index:2;
margin-top: 3vh;
}

section {
    width: 58.3vw;
    margin: auto;
}
.btn:hover{
    background-color:#ed1111;  
}
.btn {
    width: 4vw;
}
.req:before {
    content:"*";
    color:red;
}

  